.gameButtonArea {
	padding-left: 0px;
	padding-right: 0px;	
}

.gameButton {
	border-style: solid;
	border-color: gray;
	height: 100px;
	width: 100%;
}

.gameButton.white {
	background: white;
}

.gameButton.black {
	background: black;
}